body  {
    background-color: #1F2937;
    color: #E5E7EB;
    font-family: Roboto;
    margin: 0;
}

.section {
    padding: 0 128px;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 4px 16px;
    border-radius: 10%;
}

ul {
    display: flex;
    list-style: none;
    font-size: 18px;
    font-weight: lighter;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

li {
    padding-left: 16px;
}

img {
    max-width: 50%;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

h3 {
    margin: 24px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

h4 {
    margin: 0;
}

.header {
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
}

.body-1 {
    display: flex;
    flex: 1;
    margin: 64px 0;
}

.top-button {
    border: 0;
}

.body-2 {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.subtext {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-3 {
    background-color: #E5E7EB;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 64px 128px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
}

.quoted {
    font-size: 24px;
    align-self: flex-end;
}

.body-4 {
    background-color: white;
    display: flex;
    justify-content: center;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 2%;
    padding: 32px 64px;
    margin: 64px;
    display: flex;
    gap: 64px;
}

.footer {
    
}